@import url('https://fonts.googleapis.com/css?family=Andada');

.hide-mobile{
  display: none;
}

body {
  margin: 0;
  font-family: 'Andada', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  outline: 0; /*Remove the dot line from outside after click*/
}

.bookContainer{
  max-width: 1920px;
}

/*Manu*/
.logo{
  width: 160px;
  margin-top: 1em;
  margin-left: 1em;
}

header{
  display: flex;
  justify-content: space-between;
  max-height: 86px;
}

.toggleMenu{
  width: 30px;
  margin-top: 25%;
  display: none;
}

nav {
  margin-right: 0px;
  height: 100%;
}

nav ul{
  display: flex;
  z-index: 5; /*high z-index to bring it all the way to the top*/
  height: 100%;
  width: 100%;
}

nav ul li{
  display: block;
  padding-top: 2em;
  width: 100px;
  height: 100%;
  text-align: center;
  background-color: #ffffff;
}

nav ul li a{
  color: rgb(49,55,59);
  text-decoration: none;
  font-size: 16px;
}

.underline{
  display: none;
  margin-left: 5%;
  margin-right: 5%;
  height: 2px;
  margin-top: 20px;
  background-color: #5EA8A7;
}

nav ul li:hover .underline{
  display: block;
}

.exit-btn{
  display: none;
  margin-bottom: 1em;
  margin-top: -1.3em;
  text-align: right;
  padding: 0 1.4em;
}

.exit-btn img{
  width: 24px;
  cursor: pointer;
}

/*THe booking window*/
.bookingSection{
  margin-top: 1em;
  width: 100%;
  max-height: 560px;
  overflow: hidden;
}

.bookingBackground{
  vertical-align: middle;
  display: block;
  z-index: -1;
  min-width: 600px;
  margin-top: -300px;
}

.bookingWindow-large{
  position: absolute;
  top: 10%;
  left: 25%;
  transform: translate(0%,-50%);
  display: block;
}

.bookingWindow-small{
  position: absolute;
  top: 120px;
  left: 10%;
  width: 80%;
}

.headline-large{
  color: #ffffff;
  background-size: 300px 100px;
  background-color: #5EA8A7;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.63em;
}

.headline-small{
  color: #ffffff;
  background-color: #5EA8A7;
  padding: 10px 10px 10px 10px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.63em;
}

.inputGroup{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.05);
  color: #5e5e5e;
  background: #ffffff;
  width: 100%;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  align-self: stretch;
  flex-basis: 100px;
  flex-grow: 2;
  flex-shrink: 1;
  line-height: 1.15;
  position: relative;
  display: block;
}

.fromToLabel{
  font-size: 14px;
  font-weight: 300;
  display: block;
  box-sizing: border-box;
  padding: 10px 10px 0px 10px;
  line-height: 1.25;
}

.bookingInput{
  padding: 10px 10px 10px 10px;
  border: 1px solid #cccccc;
  overflow: visible;
  width: calc(100% - 40px);
  margin: -15px 10px 10px 10px;
  font-size: 14px;
}

.goButton{
  border: 0; /*Remove the dot line from outside before click*/
  padding: 10px 25px 10px 25px;
  font-size: 14px;
  font-weight: 600;
  background-color: #f4cc70
}

.goButton::-moz-focus-inner {
  border: 0; /*Remove the dot line from outside after click*/
}

.goButton:active{
  background-color: #5EA8A7;
  transform: translateY(2px);
}

.goButton:hover{
  background-color: #5EA8A7;
}

.offerBackground{
  background-color: #f4f4f4;
  text-align: center;
  padding: 2em 0.5em 2em 0.5em;
}

.offerHeadline{
  color: #5e5e5e;
  font-size: 2em;
  font-weight: 600;
}

.slideCard{
  margin-top: 32px;
  margin-bottom: 32px;
  width: 274px;
  background-color: #ffffff;
  color: #5e5e5e;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
  padding-bottom: 0px;
}

.specialImgContainer{
  width: 100%;
  height:200px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  vertical-align: middle;
}

.specialImg{
  margin-top: -5px;
  width: 100%;
  transition: 0.3s;
}


.slideCard:hover {
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}

.slideCard:hover .specialImg{
  margin-top: -12px;
  margin-left: -7px;
  width: 105%;
}

.slideCardDes{
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 30px;
  display: block;
  font-weight: 600;
}

.slideCardBottomLeft{
  font-weight: 500;
  width: 100%;
  display: block;
  margin-left: -50px;
  margin-bottom: 10px;
}

.slideCardBottomRight{
  display: block;
  font-weight: 500;
  font-size: 32px;
  width: 100%;
  margin-right: -55px;
  margin-bottom: 10px;
}

.slideCardGo{
  color: #3b770a;
  font-size: 18px;
  font-weight: 500;
  height: 0px;
  display: block;
  opacity: 0;
  transition: 0.3s;
}

.slideCard:hover .slideCardGo{
  height: 34px;
  opacity: 1;
}

/*For responsive web design*/
@media only screen and (max-width: 600px){
  /*Anything smaller than 600px(e.g. a phone) apply these rule*/

  /* navigation bar*/
  .toggleMenu{
    display: block;
  }

  nav ul{
    position: fixed; /*always at the same place even scoll*/
    display: block;
    width: 0px; /*Javascript will change this*/
    text-align: left;
    background: rgba(255, 255, 255, 1);
    height: 100%;
    z-index: 5; /*high z-index to bring it all the way to the top*/
    padding-top: 3em;
    transition: 0.5s;
  }

  nav ul li a{
    color: rgb(49,55,59);
    text-decoration: none;
    display: block;
    width: 100%;
    background-color: #ffffff;
    font-size: 16px;
  }

  nav ul li a:active{
    color: #ffffff;
    background-color: #5EA8A7;
  }

  .exit-btn{
    display: block;
  }

  /*the booking background*/
  .bookingBackground{
    margin-right: 0px;
    width: 100%;
    margin-top: 0px;
  }

  .slideCardGo{
    height: 34px;
    opacity: 1;
  }

}
