@import url('https://fonts.googleapis.com/css?family=Andada');

.hide-mobile{
  display: none;
}

body {
  margin: 0;
  font-family: 'Andada', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  outline: 0; /*Remove the dot line from outside after click*/
}

.bookContainer{
  max-width: 1920px;
}

.logo{
  width: 160px;
}

header{
  display: flex;
  justify-content: space-between;
  margin: 1em 1em 1em 1em;
}

.toggleMenu{
  width: 30px;
  margin-top: 25%;
}

.bookingSection{
  margin-top: 1em;
  width: 100%;
  max-height: 560px;
  overflow: hidden;
}

.bookingBackground{
  vertical-align: middle;
  display: block;
  z-index: -1;
  min-width: 700px;
  margin-top: -300px;
}

.bookingWindow-large{
  position: absolute;
  top: 10%;
  left: 25%;
  transform: translate(0%,-50%);
  display: block;
}

.bookingWindow-small{
  position: absolute;
  top: 150px;
  left: 10%;
  width: 80%;
}

.headline-large{
  color: #ffffff;
  background-size: 300px 100px;
  background-color: #5EA8A7;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.63em;
}

.headline-small{
  color: #ffffff;
  background-color: #5EA8A7;
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.63em;
}

.inputGroup{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.05);
  color: #5e5e5e;
  background: #ffffff;
  width: 100%;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  align-self: stretch;
  flex-basis: 100px;
  flex-grow: 2;
  flex-shrink: 1;
  line-height: 1.15;
  position: relative;
  display: block;
}

.fromToLabel{
  font-size: 14px;
  font-weight: 300;
  display: block;
  box-sizing: border-box;
  padding: 10px 10px 0px 10px;
  line-height: 1.25;
}

.bookingInput{
  padding: 10px 10px 10px 10px;
  border: 1px solid #cccccc;
  overflow: visible;
  width: calc(100% - 40px);
  margin: -15px 10px 10px 10px;
  font-size: 14px;
}

.goButton{
  border: 0; /*Remove the dot line from outside before click*/
  padding: 10px 25px 10px 25px;
  font-size: 14px;
  font-weight: 600;
  background-color: #f4cc70
}

.goButton::-moz-focus-inner {
  border: 0; /*Remove the dot line from outside after click*/
}

.goButton:active{
  background-color: #5EA8A7;
  transform: translateY(2px);
}

.goButton:hover{
  background-color: #5EA8A7;
}

/*Manu in mobile version*/
nav ul{
  position: fixed; /*always at the same place even scoll*/
  width: 0px; /*Javascript will change this*/
  top: 0;
  right: 0px;
  text-align:left;
  background: rgba(255, 255, 255, 1);
  height: 100%;
  z-index: 5; /*high z-index to bring it all the way to the top*/
  padding-top: 3em;
  transition: 0.5s;
}

nav ul li a{
  color: rgb(49,55,59);
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1em 2em;
  background-color: #ffffff;
  font-size: 16px;
}

nav ul li a:hover{
  color: #ffffff;
  background-color: #5EA8A7;
}

nav ul li a:active{
  color: #ffffff;
  background-color: #5EA8A7;
}

.exit-btn{
  margin-bottom: 1em;
  margin-top: -1.3em;
  text-align: right;
  padding: 0 1.4em;
}

.exit-btn img{
  width: 24px;
  cursor: pointer;
}

.offerBackground{
  background-color: #e6e6e6;
  text-align: center;
  padding: 1.5em 1.5em 1.5em 1.5em;
}

.offerHeadline{
  color: #555555;
  font-size: 16px;
  font-weight: 600;
}

/*For responsive web design*/
@media only screen and (max-width: 700px){
  /*Anything smaller than 600px(e.g. a phone) apply these rule*/
  .bookingBackground{
    margin-right: 0px;
    width: 100%;
    margin-top: 0px;
  }


}
